* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Windlass';
    src: url('/Fonts/Windlass.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #0D3B66;
    min-height: 100vh;
    width: 100%;
}

section {
    width: 100%;
    height: 30%;
    padding: 20px 0;
}

.align {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    background: linear-gradient(to top, #515050, #a7a5a5);
    font-family: Windlass;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    text-align: center;
    filter: brightness(170%);
    cursor: default;
    font-size: 40px;
    transition: all 0.3s ease;
    line-height: 1;
}

.botao {
    background-color: #3FA7D6;
    border: none;
    color: rgb(236, 234, 231);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s ease;

}

.botao:hover {
    background-color: #1A1A40;
    transform: scale(1.05);
}

.botao:active {
    background-color: #BCC6CC;
    transform: scale(0.95);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);

}

h1 {
    font-size: 35px;
    padding: 5% 0%;
    margin: 0% 5%;
}

h1:hover {
    transform: scale(1.05);
}

.botao {
    padding: 25px 55px;
    font-size: 20px;
    border-radius: 13px;
}

@media(min-width: 768px) {
    h1 {
        font-size: 45px;
        padding: 5% 0%;
        margin: 0% 5%;
    }

    h1:hover {
        transform: scale(1.05);
    }

    .botao {
        padding: 35px 70px;
        font-size: 25px;
        border-radius: 22px;
    }
}

@media(min-width: 1024px) {
    h1 {
        font-size: 85px;
        padding: 4% 0%;
        margin: 0% 8%;
    }

    h1:hover {
        transform: scale(1.1);
    }

    .botao {
        padding: 40px 100px;
        font-size: 30px;
        border-radius: 30px;
    }
}